.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; /* Full height of viewport */
  }
  
  .image-side {
    background-color: #ffffff; /* Optional: Set a background color or image */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .form-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgb(105 105 105 / 64%) 0px 0px 20px;
}

  .form-side img {
    margin: auto;
    width: 120px;
    height: auto;
    margin-top: -30px;
  }
  
   
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 70px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgb(64, 131, 255) 0px 0px 20px;
  }
  
  .title {
    font-size: 28px;
    color: rgb(64, 131, 255);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(64, 131, 255);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(108, 160, 255);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 95%;
    gap: 20px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 94%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 1em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(64, 131, 255);
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    margin-top: 10px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(105, 158, 255);
    cursor: pointer;
    color: white;
  }

  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
  }
  .selector {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .form-group .label {
    font-size: 16px;
    font-weight: 600;
    color: rgba(63, 1, 133, 0.74);
  }
  .selector .label {
    font-size: 16px;
    font-weight: 600;
    color: royalblue;
  }
  
  .radio-group {
    display: flex;
    gap: 25px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .radio-group input[type="radio"] {
    accent-color: royalblue;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  
    .image-side,
    .form-side {
      width: 100%;
      height: auto;
    }
  
    .form-side {
      padding: 10px;
    }
  }
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }