@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #8bcdff;
}

.header {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure the header is above other elements */
  box-shadow: 10px 10px 30px #000000b0 !important;
}

.header .logo {
  height: 3rem;
}

/* Centering the navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  transition: ease-out 0.5s;
}

/* Existing styles */
.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  padding: 0;
  margin: auto;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
  transform: scale(1.1);
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.search-bar {
  background-color: #a5d8ff;
  padding-top: 11rem;
  /* Add padding to avoid overlap with the fixed header */
}

.search-bar-hidden {
  display: none;
}
.text-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -83px;
  background-color: rgb(233 245 255);;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 250px;
  padding: 10px 0;
  border-radius: 4px;
}

.navbar .dropdown-menu li {
  padding: 10px 20px;
}

.navbar .dropdown-menu li:hover {
  background-color: #a5d8ff;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: 2rem;
  font-weight: 500;
}

.dropdown-menu li a {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

/* ===========================================
button Section
======================================= */

.large-button {
  padding: 1rem 2rem;
  /* Increase padding for larger size */
  font-size: 1.25rem;
  /* Increase font size if needed */
  width: auto;
  /* Adjust width as needed */
  height: auto;
  /* Adjust height as needed */
}

.button-container {
  display: flex;
  gap: 1rem;
  /* Add space between buttons */
  margin-left: 25px;
  width: 370px;
  height: 50px;
}

#motilal {
  background-color: rgba(255, 166, 0, 0.623);
  focus: ring-orange;
}

#motilal:hover {
  background-color: orange;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero,
.section-services {
  padding: 28px 0;
  background-color: #a5d8ff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
  padding: 0;
  height: auto;
}

.container {
  background-color: rgba(0, 195, 255, 0.582);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 120px;
}

.signup {
  background-color: white;
  border-radius: 45px;
  padding: 45px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  min-width: 300px;
  height: 360px;
  margin: 10px;
  margin-left: 30px;
}

.signup h1 {
  color: #2fb1ef;
  font-size: 35px;
}

.signup p {
  color: #666;
  font-size: 20px;
}

.signup input {
  width: 55%;
  padding: 15px;
  margin: 25px 0;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 13px;
}

.signup button {
  background-color: #75c3ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}

.signup button:hover {
  background-color: #0191ff;
}

.app-screenshot {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.app-screenshot img {
  max-width: 100%;
  height: 450px;
  border-radius: 20px;
  margin-left: auto;
}

.carousel-container {
  width: 100%;
  max-width: 600px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel img {
  width: 100%;
  display: none;
  border-radius: 10px 10px 0 0;
}

.carousel img.active {
  display: block;
}

.dots {
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* Media Queries for 900px */
@media (max-width: 900px) {
  .header {
    padding: 0 3rem;
    height: 8rem;
  }

  .navbar-list {
    gap: 5rem;
  }

  .navbar-link {
    font-size: 1.8rem;
  }

  .search-bar {
    padding-top: 10rem;
  }

  .container {
    padding: 30px;
  }
}

/* Media Queries for 800px */
@media (max-width: 800px) {
  .header {
    padding: 0 2rem;
    height: 8rem;
  }

  .navbar-list {
    gap: 5rem;
  }

  .navbar-link {
    font-size: 1.5rem;
  }

  .search-bar {
    padding-top: 9rem;
  }

  .container {
    flex-direction: column;
    padding: 20px;
  }

  .signup {
    margin-bottom: 20px;
  }

  .app-screenshot img {
    height: auto;
  }

  .mobile-navbar-btn {
    display: block;
  }
}

/* Media Queries for 600px */
@media (max-width: 600px) {
  .header {
    padding: 0 2rem;
    height: 10rem;
  }

  .navbar-list {
    flex-direction: column;
    gap: 5rem;
  }

  .navbar-link {
    font-size: 2.2rem;
  }

  .mobile-navbar-btn {
    display: block;
  }

  .search-bar {
    padding-top: 8rem;
  }

  .signup h1 {
    font-size: 4rem;
  }

  .signup p {
    font-size: 2rem;
    margin-top: 14px;
  }

  .signup input,
  .signup button {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .container {
    padding: 15px;
  }

  .app-screenshot img {
    height: auto;
  }
}

/* Media Queries for 500px */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 0 0.5rem;
    height: 12rem;
  }

  .navbar-list {
    flex-direction: column;
    gap: 6.5rem;
  }

  .navbar-link {
    font-size: 1rem;
  }

  .search-bar {
    padding-top: 7rem;
  }

  .signup h1 {
    font-size: 4rem;
  }

  .signup p {
    font-size: 2rem;
    margin-top: 14px;
  }

  .signup input,
  .signup button {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .container {
    padding: 10px;
  }

  .app-screenshot img {
    height: auto;
  }
}

/* Media Queries for 480px */
@media (max-width: 480px) {
  .signup h1 {
    font-size: 3.5rem;
  }

  .signup p {
    font-size: 1.5rem;
    margin-top: 14px;
  }

  .signup input,
  .signup button {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .container {
    padding: 5px;
  }

  .app-screenshot img {
    height: auto;
  }
}

/* Media Queries for Extra Small Devices (300px and below) */
@media (max-width: 300px) {
  html {
    font-size: 45%;
  }

  .header {
    padding: 0 0.5rem;
    height: 11rem;
  }

  .navbar-list {
    flex-direction: column;
    gap: 7rem;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .mobile-navbar-btn {
    display: block;
  }

  .search-bar {
    padding-top: 7rem;
  }

  .signup h1 {
    font-size: 1.5rem;
  }

  .signup p {
    font-size: 1rem;
  }

  .signup input,
  .signup button {
    width: 100%;
  }

  .button-container {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }

  .container {
    padding: 5px;
  }

  .app-screenshot img {
    height: auto;
  }
}


/*---------------------- cards section------------------------ */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
  padding: 60px;
  margin-top: 70px;
  margin-bottom: 100px;

}

.card {
  width: 350px;
  height: 580px;
  perspective: 1000px;
  border: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  border-radius: 70px;

}

.card-front {
  background-color: #fff;


}

.card-back {
  background-color: #f8f9fa;
  transform: rotateY(180deg);

}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-size: 2.5em;
  margin: 10px 0;
}

.card p {
  font-size: 15px;
  color: #333333;
  margin: 5px;
}


/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .search-bar {
    visibility: flex;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  #login {
    font-size: 1.40rem;
    width: 200px;
    height: auto;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* Add space between buttons */
    margin-bottom: 400px;
  }

  .large-button {
    padding: 1rem 2rem;
    font-size: 1.75rem;
    width: 300px;
    height: auto;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
}

/*container4*/

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: auto;
  height: 100vh;
  max-height: 2500px;
  position: relative;
  margin: auto;
  background-color: #77cafe;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 30px;
  border-radius: 80px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.benefit {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: none;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s;
  transition: ease-out 0.5s;

}

.benefit:nth-child(1) {
  background-color: #ff8c00;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-out 0.5s;

}

.benefit:nth-child(2) {
  background-color: #b4d053;
  top: 35%;
  right: 36%;
  transform: translate(50%, -50%);
  transition: ease-out 1s;
}

.benefit:nth-child(3) {
  background-color: #50b289;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.benefit:nth-child(4) {
  background-color: #53b3d0;
  top: 65%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.benefit:nth-child(5) {
  background-color: #d05353;
  top: 33%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.benefit:nth-child(6) {
  background-color: #a053d0;
  bottom: 35%;
  right: 36%;
  transform: translate(50%, 50%);
}

.benefit:nth-child(7) {
  background-color: #d05353;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  font-size: 30px;
}

.benefit-inner {
  width: 100%;
  padding: 10px;
}

.hover-effect:nth-child(1) {
  transform: scale(1.1);
}

.hover-effect:nth-child(2) {
  transform: translate(150%, -50%) !important;
  transform: scale(1.1);
}

.hover-effect:nth-child(3) {
  transform: translate(-50%, 150%) !important;
}

.hover-effect:nth-child(4) {
  transform: translate(-150%, -50%) !important;
  transform: scale(1.1);
}

.hover-effect:nth-child(5) {
  transform: translate(-150%, -150%) !important;
}

.hover-effect:nth-child(6) {
  transform: translate(150%, 150%) !important;
}

.benefit:nth-child(1):hover {
  transform: scale(0.1);
  cursor: pointer;
}

.benefit:nth-child(2):hover {
  transform: scale(0.1);
  cursor: pointer;
}

.benefit:nth-child(3):hover {
  transform: scale(0.1);
  cursor: pointer;
}

.benefit:nth-child(4):hover {
  transform: scale(0.1);
  cursor: pointer;
}

.benefit:nth-child(5):hover {
  transform: scale(0.1);
  cursor: pointer;
}

.benefit:nth-child(6):hover {
  transform: scale(0.1);
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
  .benefit {
    width: 100px;
    height: 100px;
    font-size: 12px;
  }

  .benefit:nth-child(7) {
    width: 160px;
    height: 160px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .benefit {
    width: 80px;
    height: 80px;
    font-size: 10px;
  }

  .benefit:nth-child(7) {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }
}

/* container 1 */
.container1 {
  text-align: center;
  height: 610px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 20px 15px;
  margin-bottom: 200px;
  margin-top: -80px;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 55px;
  margin-bottom: 140px;
  font-weight: 500;
  text-align: center;
}

.trader-types {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.trader {
  margin: 10px;
  text-align: center;
}

.trader button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.trader img {
  width: 200px;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.trader img:hover {
  transform: scale(1.5);
}

.trader p {
  margin: 30px 0 0;
  font-weight: 200;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
}

.day-trader {
  background-color: #e74c3c;
}

.momentum-trader {
  background-color: #c89852;
}

.option-trader {
  background-color: #a2a399;
}

.swing-trader {
  background-color: #b6952b;
}

.trend-trader {
  background-color: #83a0c8;
}

.buy-hold-investor {
  background-color: #a132ce;
}

/* Adjustments for medium screens */
@media (max-width: 1024px) {
  .container1 {
    height: auto;
    margin-bottom: 150px;
  }

  .title {
    font-size: 40px;
  }

  .trader img {
    width: 150px;
  }

  .trader p {
    font-size: 14px;
  }
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  .container1 {
    padding: 10px;
  }

  .title {
    font-size: 35px;
  }

  .trader img {
    width: 120px;
  }

  .trader p {
    font-size: 13px;
  }
}

/* Adjustments for small tablets and large phones */
@media (max-width: 576px) {
  .container1 {
    margin-bottom: 100px;
  }

  .title {
    font-size: 35px;
  }

  .trader img {
    width: 100px;
  }

  .trader p {
    font-size: 12px;
  }
}

/* Adjustments for phones */
@media (max-width: 480px) {
  .title {
    font-size: 35px;
  }

  .trader img {
    width: 80px;
    margin: auto;
  }

  .trader p {
    font-size: 11px;
  }
}

/* Adjustments for very small phones */
@media (max-width: 360px) {
  .title {
    font-size: 35px;
  }

  .trader img {
    width: 60px;
  }

  .trader p {
    font-size: 10px;
  }
}

/* collection section */
.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 200px;
  padding: 0px;
  
}

.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  flex: 1 1 150px; /* Flex-grow, flex-shrink, and flex-basis */
  
}

.collection-item img {
  width: 160px;
  height: 140px;

}

.collection-item span {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

.collection {
  border: 0px solid;
  margin: auto;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.collection:hover {
  background-color: rgb(141, 213, 255);
  cursor: pointer;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .collection-item {
    margin: 15px;
    flex: 1 1 120px;
  }

  .collection-item img {
    width: 40px;
    height: 40px;
  }

  .collection-item span {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .collection-item {
    margin: 30px;
    flex: 1 1 100px;

  }

  .collection-item img {
    width: 50px;
    height: 50px;
  }

  .collection-item span {
    font-size: 10px;
  }
}

/* footer section */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 15px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section li,
.footer-section a {
  font-size: 1em;
  line-height: 1.6;
  color: #bbb;
  text-decoration: none;
  margin: 5px 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section .social-icons {
  display: flex;
  justify-content: center;
}

.footer-section .social-icons a {
  margin: 0 10px;
}

.footer-section .social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.footer-section .social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  background-color: #222;
  padding: 20px 0;
}

.footer-bottom p {
  margin: 0;
}